ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 4em;
  margin-left: -2em;
  text-indent: -0.7em;
  &:before {
    padding-right: 0.5em;
  }
}

ul{
  li:before {
    //content: "• ";
    content: "●";
  }
}

ol {
  counter-reset: styleable-lists-li;
  > li:before {
    margin-left: -2em;
    content: counter(styleable-lists-li) ".";
    counter-increment: styleable-lists-li;
    text-align: right;
    min-width: 3em;
    display: inline-block;
  }
}
